version: '3.8'
services:
  db:
    image: mariadb:11
    restart: always
    env_file:
      - ./server/.env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-rootpassword}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-officecare_dev}
      MYSQL_USER: ${MYSQL_USER:-officecare}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-officecare}
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"
  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
volumes:
  db-data:
    driver: local
